################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
// include only the executables
.vs/
bin/
obj/
Debug/
Release/
x64/
x86/
ipch/
*.exe
*.dll
*.pdb
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb

